[2014-09-28 12:29] unlight opened #12 "I'm not getting (No descriptive assertion messages)"
windows 8, node v.0.11.13, power-assert 0.9.0
Runnig example test for node, mocha gives standart output without descriptive assertion messages.

[code]

^ I don't see it.
What am I doing wrong?

[2014-10-09 08:44] #12 closed, assigned to nobody

[2015-04-25 08:29] rstacruz opened #18 "Question: disabling graphs"
Is it possible to disable it? In this example, I'd like to see the first and third parts, just not the second part.

[code]

[code]

[code]

[2015-04-26 02:24] twada commented on #18
Hi @rstacruz, thank you for your question!

Yes. you can suppress graphs by using [CUSTOMIZATION API](https://github.com/twada/power-assert#customization-api). Here is the example in this case.

[code]

output:

[code]

Thanks!

[2015-04-26 03:41] rstacruz commented on #18
I've actually tried doing that, but the actual line (`assert(this.ary.indexOf(zero) === two)`) isn't shown anymore.

[2015-04-26 04:01] twada commented on #18
Hmm, something is wrong...

I've created a [gist for this example](https://gist.github.com/twada/63aec6dfad028ab1baac), hope this can help you.

And if you show me your code on github or gist, I think I can help you.

[2015-04-26 06:00] rstacruz commented on #18
ah! oops, my bad, it actually works >_<

Just in case, here's my gist: https://gist.github.com/rstacruz/f2fb7214d907aad1c250

[2015-04-26 06:00] #18 closed

[2015-04-26 06:29] rstacruz opened #19 "Duplication in the error's stack and message"
In mocha, the power-assert messages are displayed on both the stack and the message... it's a bit redundant.

![pasted_image_4_26_15__2_27_pm](https://cloud.githubusercontent.com/assets/74385/7336155/7accdc34-ec20-11e4-8a87-190f86d7e5b1.png)

[2015-04-26 06:29] rstacruz commented on #19
Using this configuration: https://gist.github.com/rstacruz/f2fb7214d907aad1c250

[2015-04-26 11:34] twada commented on #19
@rstacruz Thank you for reporting!

I think so too. This problem should be fixed ASAP.

Duplication appears since mocha 2.2.3, maybe since [this commit](https://github.com/mochajs/mocha/commit/8307cb4373ecede12975c04daa97e41cf34221ad).

I'll isolate the problem to determine which is wrong (power-assert or mocha), then fix or PR it soon.

Thanks!

[2015-04-26 11:59] twada commented on #19
Ah this problem is due to [this change (Shorten stack traces)](https://github.com/mochajs/mocha/issues/545). Filepath is shortened to relative to the deploy folder, on the other hand Assertion message created by power-assert stores absolute filepath in the message.

I'll try to store relative paths in power-assert message.

[2015-04-26 13:29] rstacruz commented on #19
heh, considering that feature came from my work, i guess indirectly I caused that ;)

[2015-05-25 03:25] Jxck opened #20 "convert relative filepath for security reason"
power-asserted test result includes `filepath` with 'full path' like this.

[code]

file path with **full path** is kind of sensitive information in server or developer machine.
if user doesn't know this behavior, it may cause some security issue.
(for example, some could forgot adding build result to gitignore and push to public repository.)

I think this information is only a project specific.
s

[2015-05-25 03:54] twada commented on #20
@Jxck Thank you for your comment. You are absolutely right.

Using relative paths is already planned in next release, but now I'm reminded I have to hurry.
- [Duplication in the error's stack and message](https://github.com/power-assert-js/power-assert/issues/19#issuecomment-96369991)
- [sourceRoot option](https://github.com/power-assert-js/espower/pull/18)

I'm so sorry for my insensitiveness. Ne

[2015-05-25 04:13] Jxck commented on #20
[:+1:](http://lgtm.in/u/qHTl7iePp) [:-1:](http://lgtm.in/r/qHTl7iePp)

thanks, close this when resolved.

[2015-07-07 11:38] stephanos opened #21 "high-level assertions?"
I absolutely love, love, love power-assert.

One thing I'm a bit unsure about is how to test promises, though. In chai, for example, I can do

[code]

but with power-assert I need much more code. Is adding higher-level assertions on the roadmap, or can I build these myself somehow?

[2015-07-08 10:45] twada commented on #21
Hi @stephanos,

I'm very very glad to hear that :)

In short term, sorry for the inconvenience for now.
Currently I don't have any roadmap to support Promises as a first citizen.

As you know, the core value of power-assert is absolute simplicity and stability.
power-assert API ought to be fully compliant with [standard assert interface](https://nodejs.org/api/assert.html).

Therefore, I'll suppor

[2015-07-08 10:58] stephanos commented on #21
Thanks for the response! I'm looking forward to any further development :)

[2015-07-08 10:58] #21 closed

[2015-07-09 00:01] blai opened #22 "Support other assertion styles?"
e.g. `expect` and `should`

[2015-07-10 01:07] mohayonao opened #23 "failed to show error report when using Symbol"
[code]

I expected:

[code]

but got:
[code]

[2015-07-10 04:45] twada commented on #22
The answer is, sorry, No.

The core value of power-assert is absolute simplicity and stability.
Especially, power-assert sticks to the simplest form of testing. `assert(any expression)`

[2015-07-10 04:48] twada commented on #23
Hi @mohayonao, thanks for reporting and reproduction case.

Oh `Symbol`s ... okay I'll check and fix the bug.

[2015-07-10 04:55] mohayonao commented on #23
I'm checking this issue in `babel-node` and `node`.

[2015-07-10 04:58] blai commented on #22
No problem, thanks for providing your opinion. I just thought it would be cool to have additional options.

[2015-07-10 04:58] #22 closed

[2015-07-10 08:43] twada commented on #23
Just released [stringifier v1.2.0 with ES6 Symbol support](https://github.com/twada/stringifier/releases/tag/v1.2.0)

For the quick-fix solution, re-installing power-assert will fix this problem.
`npm uninstall power-assert && npm install power-assert`

Of course, I'll release power-assert 0.11.1 or 1.0.0 soon.

[2015-08-20 23:02] matthewwithanm opened #24 "Are all dependencies required at runtime?"
I have some tests that I'd like to run both in node and the browser. The tests are compiled using Babel (with babel/register to run in node, and with webpack's Babel loader for the browser).

My assumption was that I could just add babel-plugin-espower to my .babelrc plugins in order to apply the transformation for both cases. This worked, however, the browser build is including power-assert's dep

[2015-08-21 06:01] twada commented on #24
Hi @matthewwithanm, thank you for your question!

Yes. You are right.

The answer is, "All of the dependencies necessary".

That's due to my design decision. In transformation phase, instrumentors (including [babel-plugin-espower](https://github.com/power-assert-js/babel-plugin-espower)) transforms assertion expressions by AST level so it should store original expression into code.

At runtime, [p

[2015-08-21 15:52] matthewwithanm commented on #24
Thanks so much! That clears things up a lot.

As for the webpack stuff, there seem to be two things at play: 1) [the use of a dynamic require][1] (which I assume is the same reason for [this][2]), and 2) acorn's use of a built file. Neither of these is really an issue with power-assert (though a FAQ addressing them would be awesome).

Thanks again for the help!

[1]: https://github.com/power-asser

[2015-08-21 15:52] #24 closed

[2015-08-22 03:18] twada commented on #24
Hi @matthewwithanm, thanks again for your information!

Okay, I'll add FAQ section to README.

[2015-08-25 06:52] Jxck commented on #20
it seems some commits but not fixed yet in current version
any updates or not ?

[2015-08-25 07:07] twada commented on #20
@Jxck Sorry for slow progress. power-assert is now in 1.0.0 release process. To be released today or tomorrow.

[2015-08-25 07:34] Jxck commented on #20
🙏🍻🍻🍻🙏

[2015-08-25 08:49] twada commented on #20
@Jxck, instrumentors below are using `^1.0.0` of `espower` (or `espower-source`) module so they have fixed.

 - [espower-loader](http://github.com/power-assert-js/espower-loader/releases/tag/v1.0.0)
 - [intelli-espower-loader](https://github.com/power-assert-js/intelli-espower-loader/releases/tag/v1.0.0)
 - [espower-cli](http://github.com/power-assert-js/espower-cli/releases/tag/v1.0.0)
 - [espowe

[2015-08-26 13:38] twada commented on #19
This issue is fixed by the [1.0.0 release](https://github.com/power-assert-js/power-assert/releases/tag/v1.0.0).
Feel free to reopen this if it is not fixed.

[2015-08-26 13:38] #19 closed

[2015-08-26 13:38] twada commented on #23
This issue is fixed by the [1.0.0 release](https://github.com/power-assert-js/power-assert/releases/tag/v1.0.0).
Feel free to reopen this if it is not fixed.

[2015-08-26 13:38] #23 closed

[2015-08-26 14:34] twada commented on #20
This issue is fixed by the [1.0.0 release](https://github.com/power-assert-js/power-assert/releases/tag/v1.0.0) of power-assert family.
Feel free to reopen this if it is not fixed.

[2015-08-26 14:34] #20 closed

[2015-08-26 20:18] rstacruz commented on #19
congrats on the 1.0 release!

[2015-08-27 02:27] twada commented on #19
@rstacruz Thanks! :)

[2015-08-27 04:15] Jxck commented on #20
great work thanks :)

[2015-09-06 21:02] falsandtru opened #26 "Async assertion does not work on (grunt?) karma when I use multiple karma preprocessors"
Async assertion is always successful under the this code.

[code]

[code]

[code]

[code]

以下詳細を英語がつたないので日本語で失礼します。
同期プロセスでのアサーションは正常に動作しますが非同期プロセスでは上記のとおり`assert(false === true)`が成功します。このバグは特殊な条件下で発生するようで、プリプロセッサの位置や組み合わせを変えると発生しません。grunt-karmaが内部的に生成するkarmaの設定が原因のような気がします。このバグが発生したプロダクトは未公開ですが対応していただけるようでしたら後ほど早めに公開してもってこようと思います。

[2015-09-07 00:39] twada commented on #26
Hi @falsandtru, thank you for reporting!

Are you using [karma-coverage](https://github.com/karma-runner/karma-coverage)?
I recommend you to NOT to use `espower` after `coverage`. Both of them modify AST so they may not work as expected.

Solution here is just remove `espower` from configuration for coverage.
When `espower` preprocessor is not specified, power-assert works as normal assert.
[code]

[2015-09-07 04:00] falsandtru commented on #26
Thanks for your help. Yes, I am using karma-coverage. But this is not easy problem of preprocessor combination because this setting resolve the bug. This is problem of setting structure.

プリプロセッサを複数噛ませた影響というのはもちろん検証したのですが以下の設定ではバグが発生しないので単純に多段変換が原因でもないようです。率直に言って、両方のプリプロセッサを同時利用することはできており、設定の構成方法によってバグが発生しています。また、`$ karma start`でkarmaを直接起動してもバグが発生しません。

[code]

I want measures as a fail-safe.

挙動か

[2015-09-07 04:00] #26 closed

[2015-09-07 04:04] twada commented on #26
Thanks a lot for your detailed report and feature suggestions!

[2015-09-14 00:52] falsandtru opened #27 "Incorrect `instanceof` assertion messages"
expected

[code]

[code]

actual

[code]

[code]

[2015-09-14 04:42] twada commented on #27
@falsandtru Thank you for reporting! This is a bug. I'll fix it ASAP.

[2015-09-14 06:33] twada commented on #27
Oops, this issue will be closed when power-assert-formatter is released.
To be released soon.

[2015-09-14 08:36] twada commented on #27
Close this issue again since [power-assert 1.0.1 is released.](https://github.com/power-assert-js/power-assert/blob/master/CHANGELOG.md#101-2015-09-14)

[2015-09-14 08:36] #27 closed

[2015-09-14 08:59] falsandtru commented on #27
Lightning fix! Thanks!

[2015-09-14 09:07] twada commented on #27
@falsandtru You're welcome! Thank you for reporting this bug :smiley:

[2015-10-26 01:52] dbkaplun opened #30 "Does this work with substack/tape?"

[2015-10-26 04:02] twada commented on #30
Short Answer: No.

Not yet. Once [we've tried to](https://github.com/azu/tape-power-assert/issues/1) and suspened for a while.

[2015-10-28 08:52] twada commented on #30
[added to FAQ](https://github.com/power-assert-js/power-assert/commit/1e6e4c8280ef146a818a60aae0389428d260a4a5) then closed.
Thank you for your question.

[2015-10-28 08:52] #30 closed

[2015-11-07 19:29] TrySound opened #31 "String comparing"
Hi. I need to compare multiline strings but the output is too hard to analyze. It the a way to make it more visual. For example [fast-diff](https://github.com/jhchen/fast-diff) seems interesting.

The second problem is compare on windows. When read input or output from disk it contains `\r\n` linebreaks. Every time I should to add `.replace(/\r\n/g, '\n')`

[2015-11-09 08:20] falsandtru opened #32 "Incomplete increment/decrement assertion messages"
[code]

expected:

[code]

actual:

[code]

other:

[code]

[2015-11-09 08:20] falsandtru opened #33 "New API for Design By Contract"
A function cannot assert own return value with no changes. I want the solution for it weak point.

## Currently

- Need changes for postcondition(need temporary variable).
- Cannot provide descriptive assertion messages.

[code]

## Method chaining

Not simple, not easy.

[code]

## Placeholder

Beautiful. Targeted for closest return statement only.

source:

[code]

pre-espowered:

[code]

emit:

[2015-11-09 09:19] twada commented on #32
Hi, thank you for reporting.

Unfortunately, it's a limitation of power-assert. I cannot support `UpdateExpression` since it causes `ReferenceError`.

Let me explain. Given `example.js`,

[code]

results in `ReferenceError` when executed.

[code]

`capt` function is what power-assert is doing internally, so when I tried to capture `UpdateExpression` like `++foo`, it always result in `ReferenceErro

[2015-11-09 09:19] #32 closed

[2015-11-09 09:32] falsandtru commented on #33
updated

[2015-11-09 09:43] falsandtru commented on #32
I understand, thanks!

[2015-11-09 09:50] twada commented on #31
Hi @TrySound , thank you for your opinion. I understand.

`power-assert` is designed to be run under any environments, from old browsers to modern console, so I could not give universal fancy diffs yet (assuming only mono-color environment).

If you are using power-assert via AVA, you may be using modern console. If you only use AVA through console, customized renderer may help. I'm going to provi

[2015-11-09 14:37] twada commented on #33
Hi, thank you for your suggestion!

Yes, asserting postconditions by temporary variables looks ugly.

I think, however, modifying statements is not appropriate for power-assert.
power-assert sticks to the simplest transformation of __expressions__, not statements.
Transforming statements brings extra complexities to power-assert.

So, your requirements would be satisfied by yet another library. No

[2015-11-09 14:37] #33 closed

[2015-11-09 14:49] falsandtru commented on #33
Okay, thanks for your kind explanation.

[2015-12-01 03:05] jamestalmage opened #34 "JSX Support"
Reference:
  https://github.com/sindresorhus/ava/issues/274

[2015-12-21 16:53] falsandtru opened #36 "Cannot capture not invokable method error"
[code]

[code]

[code]

[2015-12-24 05:03] twada commented on #36
Thank you for reporting!

It's hard to fix...

I tried enclosing capture logic in function calls.
It seem to be a solution for me, but it does not work since it changes contextual semantics and dynamics around asynchronous nature, such as `async/await`.
I learned that I should not enclose original calls in extra function.

So, it's a `wontfix` issue for now and I should note this in FAQ section. T

[2015-12-24 05:25] falsandtru commented on #36
Alright, please close this issue when you noted this in FAQ. If possible, please hide internal codes. I didn't understand what that meant. Thanks.

[2015-12-24 05:39] twada commented on #36
Yes I'm going to. Thank you!

I absolutely agree with you..

[2015-12-24 15:46] falsandtru opened #38 "Sample code does not work"
[code]

See https://github.com/power-assert-js/intelli-espower-loader/pull/13

[2015-12-25 13:02] #38 closed

[2015-12-27 00:13] #36 closed

[2016-01-01 19:36] falsandtru opened #39 "Assertion error messages have local file paths"
An assertion message has a local file path instead of variables.

expected:

[code]

actual:

[code]

[2016-01-03 03:43] twada commented on #39
@falsandtru power-assert does not modify original expression, only canonicalize it in one line format.
So I think it is not by power-assert but some other npm module.

The output `assert(!!dataD:/<dir>/<file>_ === true)` seems that some module has replaced the word `base` with your project dir (`database_` => `dataD:/<dir>/<file>_`)

[2016-01-03 03:50] falsandtru commented on #39
I use karma-espower-preprocessor. Is this a cause?

[2016-01-03 04:36] twada commented on #39
I don't think so. In your output,

[code]

vertical bar for `===` is out of alignment.
This means that the replacement (`database_` => `dataD:/<dir>/<file>_`) has occurred __after__ the power-assert processing.
If power-assert and related modules are wrong, the vertical bar will match.

So some reporter module for karma would be the criminal.

[2016-01-03 04:41] falsandtru commented on #39
Now I can reproduce this problem in my repository(however, this is complex). Can you test that repository?

[2016-01-03 06:58] twada commented on #39
Thanks for repro case. However I don't have enough time now so I review it in a few days.

[2016-01-03 08:07] falsandtru commented on #39
Thanks. This is details.

[code]

[code]

Strange to say, I got correct assertion messages from browser, but I got wrong assertion messages from terminal.

I will provide repro in January ASAP.

Windows7 x64

[2016-03-06 08:42] twada commented on #39
@falsandtru Any advance on this issue?

[2016-03-06 08:54] falsandtru commented on #39
Sorry, I close this issue because I overwrote that code. I think this problem probably caused by terminal. Thanks for the response.

[2016-03-06 08:54] #39 closed

[2016-03-06 08:58] twada commented on #39
@falsandtru Okay, thanks :)

[2016-03-09 15:52] twada commented on #34
Now I'm working with it.

refs: [[WIP][experimental] Big refactoring: Embed assertion's AST and tokens to make runtime side parser unnecessary](https://github.com/power-assert-js/babel-plugin-espower/pull/13)

[2016-04-07 17:17] iamstarkov opened #41 "[discussion] deepEqual on arrays"
can we get fancy diff while `deepEqual`-ing two arrays?

right now, it's not neither fancy, neither helpful at all
[code]

so, i have to do

[code]

instead of just this

[code]

[2016-04-07 22:21] rymohr commented on #41
+1 and it's not just limited to arrays. All nested objects show up as `#Object#` and the diff gives you little to work from.

Is there a way to enable deeper diffs?

[2016-04-08 01:58] twada commented on #41
Hi, thank you for using power-assert!

I assume you are using power-assert via AVA, and now AVA team is discussing about [changing default depth of power-assert rendering to 3](https://github.com/sindresorhus/ava/issues/681).

If you are using power-assert directly, please use configure output depth via [customization API](https://github.com/power-assert-js/power-assert#customization-api).

Thanks

[2016-04-08 10:06] iamstarkov commented on #41
thats cool, i'll close this issue, in favor of ava's one

[2016-04-08 10:06] #41 closed

[2016-04-08 12:38] iamstarkov commented on #41
@twada that helped terms of detailed response
![screen shot 2016-04-08 at 14 02 07](https://cloud.githubusercontent.com/assets/559321/14383034/8db01260-fd92-11e5-8f58-8bc30746d325.png)

fancy diff might still be helpful, smth like [tap-diff](https://github.com/axross/tap-diff)
![screenshot1](https://cloud.githubusercontent.com/assets/559321/14383784/9167954a-fd97-11e5-9c55-46ef406bf5a4.png)

[2016-04-08 12:40] iamstarkov commented on #41
@twada  can we get it somehow, or should we approach ava's optional tap output and use tap-diff directly?

[2016-04-09 12:21] searls opened #42 "TypeError: assert._capt is not a function"
I tried to add this really simply to my vanilla Node.js module using intelli-espower-loader, but right from the jump I got this error: "TypeError: assert._capt is not a function"

Any root causes?

To reproduce, you can check out this repo at this commit: https://github.com/testdouble/scripty/commit/4a00d0f27248c6ac38cce17c53c5a43f1a031ce1

[2016-04-09 14:11] twada commented on #42
I assume that you are still using normal `assert` module, not `power-assert`.

Please change [here](https://github.com/testdouble/scripty/blob/master/test/unit-helper.js#L2) from
[code]
to
[code]

[2016-04-09 18:14] searls commented on #42
Ohhhhh, duh. Thank you.

[2016-04-09 18:14] #42 closed

[2016-04-11 04:36] twada commented on #42
[Added to FAQ](https://github.com/power-assert-js/power-assert/commit/3de6b08baa7e88926451098b582e82238e964b57). Thanks!

[2016-04-12 03:44] azu opened #43 "power-assert make `assert()` of assert module silent"
I've created reproduce repository.

- https://github.com/azu/issue-power-assert-with-assert

Application code use `assert` module of Node Core.

`index.js`
[code]

Test code:

[code]

These code are transformed by babel + babel-plugin-espower.

`.babelrc`

[code]

When I do this:

[code]

### Expected

Fail test

### Actual

Pass test :(

-----

### Reason

Application code is transformed to

[cod

[2016-04-12 05:08] twada commented on #43
@azu Thank you for reporting.
Ah, that's a problem... One thing I can do is, to convert `require('assert')` to `require('power-assert')`.
I'll create a small babel plugin to do the transpilation.
Thanks!

[2016-04-12 08:00] twada commented on #43
@azu Just created and published [babel-plugin-empower-assert](https://www.npmjs.com/package/babel-plugin-empower-assert) to solve this problem. Would you give it a try?

[2016-04-12 10:59] twada commented on #43
Made a [pull-req](https://github.com/azu/issue-power-assert-with-assert/pull/1) for you.

[2016-04-12 11:05] azu commented on #43
@twada Thanks. work find.

I think that this issue should be added to [FAQ](https://github.com/power-assert-js/power-assert#faq "FAQ"), because this solution is **opt-in**.

If a user encounter this issue, the use see [FAQ](https://github.com/power-assert-js/power-assert#faq "FAQ") at first, I think.

[2016-04-12 11:06] twada commented on #43
If a user encounter this issue, the use see FAQ at first, I think.

Yeah exactly!

[2016-04-12 11:16] twada commented on #42
FYI: if you are using Babel, you can use [babel-plugin-empower-assert](https://www.npmjs.com/package/babel-plugin-empower-assert) to solve this problem.

With [babel-plugin-empower-assert](https://www.npmjs.com/package/babel-plugin-empower-assert), you can enhance normal `assert` to `power-assert` with `.babelrc` settings.

[code]

[2016-04-12 11:17] twada commented on #43
FYI: if you are using Babel, you can use [babel-plugin-empower-assert](https://www.npmjs.com/package/babel-plugin-empower-assert) to solve this problem.

With [babel-plugin-empower-assert](https://www.npmjs.com/package/babel-plugin-empower-assert), you can enhance normal `assert` with `.babelrc` settings below.

[code]

[2016-04-12 11:20] twada commented on #43
Added to FAQ as [How to deal with `assert` calls in production](https://github.com/power-assert-js/power-assert/commit/1341bca3df0af6350404df3020c49309aaacc6b7).

[2016-04-12 12:44] azu commented on #43
Thanks again.

[2016-04-12 12:44] #43 closed

[2016-04-12 13:00] twada commented on #43
You're welcome ;)

[2016-04-12 13:50] searls commented on #42
Thanks @twada. To be honest I still wasn't able to get past this bug when writing a vanilla library. I tried using the "intelli" loader and then power-assert but it didn't work. My only theory is that maybe the loader has to be loaded _in a separate file_ from any requires of power-assert?

The repo in question is the same one: github.com/testdouble/scripty if you have a minute to advise me (I'm u

[2016-04-12 15:44] twada commented on #42
@searls Thank you for your question. I've cloned your repo and enabled power-assert.
Your [scripty/decorate-assertions.js](https://github.com/testdouble/scripty/blob/874d2622aa7bec76ba28ba58a573c1bd025f4794/test/decorate-assertions.js) is tricky a bit so I should use my [WIP branch of espower](https://github.com/power-assert-js/espower/pull/26)

Here is the patch.

[code]

Thanks.

[2016-04-15 09:28] iamstarkov commented on #41
@twada what do you think about pretty diff?

[2016-04-18 10:49] twada commented on #41
@iamstarkov I think providing pretty diff is a responsibility of testing framework (like Mocha or AVA), not matcher nor assertion library.
However power-assert should be responsible with prettying `BinaryExpression` (e.g.`foo === bar`) since testing framework doesn't have a way to detect expected and actual values.

Therefore, in my opinion, prettifying `deepEqual(foo, bar)` is still a responsibil

[2016-04-19 16:29] 59naga opened #44 "webpack: deepStrictEqual is not a function"
[code]

[2016-04-19 16:29] 59naga commented on #44
すみません、途中で送信してしまいました。
改めて投稿します…。

[2016-04-19 16:30] #44 closed

[2016-04-19 17:38] 59naga opened #45 "webpack use the legacy assert ( `deepStrictEqual` is not a function )"
when use the `power-assert@1.3.1` from `webpack@1.12.14` / `babel-loader@6.2.4`, doesn't have the `deepStrictEqual`, it seems old `assert` is used.

[code]

simulation environment: https://github.com/59naga/boilerplate-browser-babel

[code]

one workaround,  frozen the version of `assert` in `4.1.2` using the [core-assert](https://github.com/59naga/power-assert/commit/1046e66da2a2c5be16988620ee68b

[2016-04-20 09:59] twada commented on #45
@59naga Thank you for reporting!

Hmm, I'll take a look...
Maybe webpack might be using [commonjs-assert](https://www.npmjs.com/package/assert) as a polyfill?
If so, depending on [core-assert](https://www.npmjs.com/package/core-assert) might help.

[2016-04-22 12:28] falsandtru commented on #45
I also want to use deepStrictEqual on browsers (without webpack). Can power-assert use another assertion library that has a deepStrictEqual method?

[2016-04-23 00:21] falsandtru commented on #45
@59naga I am unable to get descriptive assertion messages on browsers using your fixes (https://github.com/59naga/power-assert/commit/1046e66da2a2c5be16988620ee68b43613450d33). Can you get descriptive assertion messages on browsers?

[2016-04-23 00:42] falsandtru commented on #45
Sorry, it probably does not depend this issue.

[2016-04-23 01:03] falsandtru opened #46 "Unable to get descriptive assertion messages on browsers"
Does power-assert provide descriptive assertion messages on browsers?

Code

[code]

Expected(node)

[code]

Actual(browser)

[code]

[2016-04-23 01:25] falsandtru commented on #46
espowerd on browsers

[code]

It seems a convert leak.

[2016-04-23 01:59] twada commented on #46
This is expected behaviour.

`assert.deepEqual({foo: 0}, {foo: 1})`
That are `ObjectExpression`s having only `Literal`s.
power-assert does not capture `Literal`s since we can see their values as-is.

If the expression has some `Identifier`s, then power-assert tries to capture them.
`assert.deepEqual({foo: bar1}, {foo: bar2})`

[2016-04-23 02:02] twada commented on #45
@59naga @falsandtru Sorry for my late response.

Now I understand the issue. Both Webpack and Browserify use [commonjs-assert](https://www.npmjs.com/package/assert) as browser polyfill and it does not have `deepStrictEqual`.

[2016-04-23 02:33] falsandtru commented on #46
In short, power-assert does not provide descriptive assertion messages on browsers?

[code]

I want to get a following assertion message.

[code]

[2016-04-23 05:02] twada commented on #46
@falsandtru The point you suggested is correct.
That is strange...I'll investigate it.
What instrumentor are you using for browsers?
(gulp-espower, espowerify, babel-preset-power-assert, ...)

[2016-04-23 06:56] falsandtru commented on #46
You can repro this problem on my repo https://github.com/falsandtru/arch-stream .

0. clone repo.
0. npm i && gulp install && gulp watch
0. add test code to somewhere(e.g. https://github.com/falsandtru/arch-stream/blob/master/test/interface/package.ts#L25).

[2016-04-28 00:57] falsandtru opened #53 "Unable to parse emojis"
So cute :ice_cream: :star2: :heartbeat:

[code]

[code]

[2016-05-02 17:13] twada commented on #45
FYI: I've created [universal-deep-strict-equal](https://github.com/twada/universal-deep-strict-equal), a port of Node v6's internal _deepEqual function in a universal style, and I'm trying to integrate this into power-assert.

[2016-05-06 02:11] #45 closed

[2016-05-06 03:54] falsandtru commented on #53
@twada Could you support emojis?

[2016-05-06 03:59] twada commented on #53
@falsandtru That's in my TODO list.

[2016-05-06 04:10] falsandtru commented on #53
:+1:

[2016-05-08 11:22] falsandtru commented on #46
Fixed by https://github.com/power-assert-js/karma-espower-preprocessor/pull/1

[2016-05-08 11:22] #46 closed

[2016-05-15 18:46] ELLIOTTCABLE commented on #30
Can you expand on this a bit, please? The README says that you can simply ‘use assert instead’ (i.e. not run your code through the power-assert module); wouldn't that mean that TAP is implicitly supported?

*How*, precisely, is TAP output not possible with power-assert?

[2016-05-17 12:05] watilde opened #57 "Getter for customized options"
Hi Lions!

In my karma plugin, I'm testing customized options only by comparing stdout with passed options, so it would be nice if I can access to the options I passed though `assert.customize`, to develop plugins in my case. It can be something like `assert.options` to return `extend(empowerOptions, options.assertion)` I guess.
+ https://github.com/watilde/karma-power-assert/blob/master/karma.con

[2016-05-17 23:18] twada commented on #57
Hi @watilde
Thank you for your suggestion!

However, I do not want to add more APIs to `assert`, not only that, I'm now thinking about deprecating `assert.customize` and deleting it from API at `power-assert 2.0.0`.

The reason is that I want `power-assert` to be completely compliant to Node's standard `assert` API and do not want users depend on power-assert original API. My hope is to make users

[2016-05-18 09:22] watilde commented on #57
Thanks for your courteous reply!
Basically I agreed 100% on the fact how `power-assert` should be, but let me just make sure. Eventually how can next version keep a way to customize `maxDepth`, or will drop the API and the feature as well completely in next major version?

[2016-05-18 13:58] Turbo87 opened #58 "assert.deepEqual() with tolerance"
I would like to use `assert.deepEqual()` to compare two JSON objects, but the objects contain floating-point numbers that are only roughly the same. Is there some way to compare those two objects with a tolerance when comparing numbers? i.e. when the algorithm compares numbers it will accept a difference of up to 0.001% or something like that.

[2016-05-19 02:56] twada commented on #58
@Turbo87 Thank you for your question.

`power-assert` aims to be completely compliant to [Node.js Assert API](https://nodejs.org/api/assert.html). Therefore, API issues and improvements should be done in [Node.js](https://github.com/nodejs/node/issues) first.

When I compare two floating point values, single value comparison would look like:

[code]

However here you want to compare two deep struc

[2016-05-19 03:10] twada commented on #57
@watilde Thank you for your question.

In the future, options like `maxDepth` will be customized at compile time by configuration of instrumentors. Not at runtime.

That's why I'm going to deprecate `assert.customize` __as an API__, but not going to delete its implementation. `assert.customize` may remain as a SPI for a while. For tools like your product `karma-power-assert`.

[2016-05-19 06:56] Turbo87 commented on #58
I was afraid of that... I guess in that case I won't get any special power-assert diffing magic though, correct?

[2016-05-19 07:47] twada commented on #58
Correct.

[2016-05-19 09:29] watilde commented on #57
Now it's so clear to me! Let me close this issue as resolved 😺
Looking forward to touch next version! Thanks.

[2016-05-19 09:29] #57 closed

[2016-05-23 20:54] falsandtru opened #59 "Support SequenceExpression (i.e., comma operator)"
code:

[code]

expected:

[code]

actual:

[code]

[2016-05-27 20:43] falsandtru commented on #59
ping @twada

[2016-05-28 13:23] ELLIOTTCABLE opened #60 "More descriptive results for `typeof` expressions"
So, something like this is a pretty common pattern:

    assert(typeof wrap === 'function')

----

        AssertionError:   # giraphe.es6.js:61

    assert(typeof wrap === 'function')
           |           |
           "object"    false

    --- [string] 'function'
    +++ [string] typeof wrap
    @@ -1,8 +1,6 @@
    -function
    +object

        + expected - actual

        -false
        +tru

[2016-05-28 16:14] twada commented on #59
@falsandtru Thank you for reporting. I'll take a look.

[2016-06-09 13:47] MoOx commented on #34
@twada I saw that the PR you mentionned has been merged. What is the progress on this issue then?

[2016-06-10 07:44] twada commented on #34
@MoOx
If you are using AVA, you can use JSX tags once [this PR](https://github.com/avajs/ava/pull/903)  has been released.
If you are using power-assert directly, you can now use JSX tags through babel-plugin-espower with option `embedAst: true`.

[2016-06-10 07:45] twada commented on #34
To be documented though.

[2016-06-10 07:54] twada commented on #58
Closed this issue since this is not related to power-assert feature.

[2016-06-10 07:54] #58 closed

[2016-06-10 09:07] twada commented on #60
Thank you for your question.

Unfortunately, it's a limitation of current implementation of power-assert. I cannot support `typeof` UnaryExpression since it potentially causes ReferenceError.

Let me explain. Given example.js,

[code]

results in ReferenceError when executed. Since `typeof` operator can take variable that does not defined.

[code]

`capt` function is what power-assert is doing int

[2016-06-10 11:48] ELLIOTTCABLE commented on #60
Wait, tho: can't you special-case typeof at the *syntactic* level?

i.e. anything else in JS becomes `expr(expr(expr))` to
`capt(expr(capt(expr(capt(expr)))))` … of course, that makes sense; but
typeof *is* special, so it makes sense to special-case it: `expr(typeof
expr))` to `capt(expr(capt(typeof expr !== 'undefined' && typeof
capt(expr)` or something like that

Sorry for being terse, am on pho

[2016-06-10 12:08] ELLIOTTCABLE commented on #60
Ah, immediately realized a problem with that, so pulled out my laptop after sending.

Here's the two solutions I see:

    // foo( typeof bar )
    var _t; capt(foo( (((_t = typeof bar) !== 'undefined' && capt(bar)), _t)))

That's fast, but the downside is that it evaluates `bar` *twice*; so it's only suitable for situations where `bar` is not a complicated expression: i.e. it's just a standalone

[2016-06-12 11:07] isiahmeadows commented on #30
@ELLIOTTCABLE

Tape actually wraps Node's assertions directly, to something along the lines of this:

[code]

Because it wraps Node's native methods, and it does *not* catch and report thrown errors, there's no way to support it without either the user using [tape-catch](https://www.npmjs.com/package/tape-catch) or power-assert reinventing much of that and/or Tape's test handling magic.

[2016-06-13 13:20] feugy opened #61 "Usage in Labjs"
Hello, and thank you for this wonderful library !

We use [lab](https://github.com/hapijs/lab) a lot for testing. And it's as easy to use Power-assert with lab that it is with mocha.

I'd like to share the transform file needed to activate Power-assert, and I wonder the best way to do it.
1- Do I create a project (like you did with espower-loader) under my account ?
2- Do you create an empty proje

[2016-06-14 05:05] twada commented on #61
@feugy Wow that's great! Thank you!
Please feel free to create your own project. I'm happy to link it from power-assert README.

[2016-06-16 17:34] feugy commented on #61
Hello @twada. The [repo](https://github.com/feugy/lab-espower-transformer) is ready, and a first version is [published](https://www.npmjs.com/package/lab-espower-transformer) on npm.
As you can see, it's really little work, and I'm happy we can now use it with Lab.

I'll get in touch with the Hapi community to promote power-assert.

[2016-06-16 17:34] #61 closed

[2016-06-19 02:24] twada commented on #61
@feugy Made a link to [lab-espower-transformer](https://github.com/feugy/lab-espower-transformer) from power-assert README. Thanks a lot!

[2016-06-24 09:24] gpcboekema opened #63 "deepStrictEqual more descriptive output when failing"
There seems to be lacking output for assert.deepStrictEqual compared to assert.deepEqual.
If you provide a 'descriptive message when assertion is failed' only that message will be printed:

`descriptive message`

If you don't provide a message to the method, the compared objects will be printed like this:

`{object1} deepStrictEqual {object2}`

But in both cases you want to be able to compare them

[2016-06-27 05:56] twada commented on #63
@gpcboekema Thank you for reporting.

`{object1} deepStrictEqual {object2}` is a default output of normal assert module.
Therefore, it seems that your code is not transpiled by one of power-assert's instrumentors, or version of instrumentor you are using is old.

Please make sure to use one of instrumentors below, and its version is new enough.
`assert.deepStrictEqual` support is relatively new so

[2016-06-27 07:51] gpcboekema commented on #63
@twada Thank you for your answer.

Updating karma-espower-preprocessor solved the problem.

We were at karma-espower-preprocessor version 0.0.4 and updating to a major release (1.1.0) isn't just an npm update, so we missed that one.

Thanks again.

[2016-06-27 07:51] #63 closed

[2016-06-27 13:31] twada commented on #63
@gpcboekema I'm glad to hear that 😃

[2016-07-07 02:21] falsandtru opened #64 "Instant customization without side-effect"
Could you support the following usage? It is helpful for instant debugging.

[code]

[2016-07-07 10:24] twada commented on #64
@falsandtru Thank you for your suggestion.

However, I do not want to support it now, not only that, I'm thinking about deprecating `assert.customize` and deleting it from power-assert API at power-assert 2.0.0.

The reason is that I want power-assert to be completely compliant to Node's standard assert API and do not want users depend on power-assert original API. My hope is to make users start a

[2016-07-07 12:49] falsandtru commented on #64
I see, thanks!

[2016-07-07 12:49] #64 closed

[2016-08-20 23:36] studds opened #65 "Power assert with ts-node"
I prefer to use [ts-node](https://github.com/TypeStrong/ts-node) along with power assert, as I've already worked out how to get ts-node running the way I like.

I ran in to a few hurdles along the way, and created a new module to get ts-node working together with power-assert: https://github.com/tracecomms/espower-ts-node

The main thing I couldn't figure out was how to ignore errors and do a fast

[2016-08-21 07:11] twada commented on #65
@studds Thanks! I'm very glad to see ts-node working together with power-assert.
So I made a link to [espower-ts-node](https://github.com/tracecomms/espower-ts-node) from README.

(I'm sorry that I cannot advice you since I'm not a TypeScript user...)

[2016-08-21 08:30] studds commented on #65
Thanks @twada

[2016-09-03 16:41] unlight opened #67 "Cannot load module by SystemJS: Expected object"
version: 1.4.1
My code
[code]
Which transpiles to:
[code]
And this line throws error:
[code]

**Stack trace:**

systemjs.src.js ~ line:3326
[code]
systemjs.src.js ~ line:892
[code]
Link to 26.3.3.12 of Loader-Spec
https://github.com/calvinmetcalf/Loader-Spec/blob/master/spec.md#263312-reflectloaderprototypenewmodule--obj-

obj is referencing to:
[code]

[2016-09-03 17:28] unlight commented on #67
Updated.

[2016-09-04 11:49] twada commented on #67
@unlight Thanks for your reporting and repro / fix case.

Hmm. Seems that your fix conflicts with ES6 Modules / CJS / Babel interop hack.
- https://github.com/power-assert-js/power-assert/pull/28
- https://github.com/power-assert-js/power-assert/pull/37

I know a little about SystemJS so I need your help more.
Is there any solution in SystemJS to solve this situation?

[2016-09-04 13:26] unlight commented on #67
Maybe, but I just said that it fixes my problem.
I do not use Babel, etc.

[2016-09-04 14:02] unlight commented on #67
Do you have unit tests for #28 and #37?
Actually #28 do not have conflicts, it is the same code:
[code]
[code]
About #37.
`{ '__esModule': true }` I don't understand why it was added, this property is added by transpilers when generating ES6 code. But your code written in es5.

I think @falsandtru should provide the case what cause him to pull such request.
What module consumer/platform requires t

[2016-09-05 06:02] twada commented on #67
Would you try [__useDefault: true](http://stackoverflow.com/a/39244360)?

ah, yes.

[2016-09-08 10:37] feugy opened #68 "assert.deepEqual and truthy values"
It seems that equals isn't always using strict equality:
[code]

Is it intended ?

[2016-09-08 10:40] feugy commented on #68
My bad, it is.

As I'm used to chai, I didn't knew that [assert](https://nodejs.org/api/assert.html) specificity.

[2016-09-08 10:40] #68 closed

[2016-09-08 10:57] twada commented on #68
@feugy That's right. Please use `assert.deepStrictEqual` for this purpose ;)

[2016-09-09 12:55] popomore commented on #42
Same question, why can't use intelli-espower-loader with assert?

[2016-10-20 19:59] danielmoore opened #69 "Support TypeScript 2.0"
Just cross posting - power-assert-js/espower-typescript#18 hasn't been touched in over two weeks now. Can anyone here merge and publish it?

[2016-10-21 02:47] twada commented on #69
@danielmoore Thank you for pinging!
@teppeis @vvakame Would you take a look?

[2016-10-21 04:57] teppeis commented on #69
@twada @danielmoore ok, I'll check it!

[2016-10-27 08:02] teppeis commented on #69
Fixed in espower-typescript v6.0.0. Thanks!

[2016-10-27 08:02] #69 closed

[2016-11-08 07:37] twada commented on #65
closed via 82a0e9336

[2016-11-08 07:37] #65 closed

[2016-11-11 07:02] twada opened #72 "official support policy"
We need to declare our official support policy.

refs #70

OUR SUPPORT POLICY
---------------------------------------

We support Node under maintenance. In other words, we stop supporting old Node version when [their maintenance ends](https://github.com/nodejs/LTS).
We also support modern browsers such as Chrome, Firefox, Safari, Edge etc.

This means that any other environment is not supported.

[2016-12-08 02:27] twada commented on #42
@popomore Now you can use intelli-espower-loader (espower-loader) with `assert`

see: [espower-loader's CHANGELOG](https://github.com/power-assert-js/espower-loader/blob/master/CHANGELOG.md#110-2016-11-12)

[2016-12-08 05:35] popomore commented on #42
@twada Good Job

[2016-12-31 04:02] twada commented on #72
Our official support policy, 2nd version.

OUR SUPPORT POLICY
---------------------------------------

For the Transpiler side, we support Node under maintenance. In other words, we stop supporting old Node version when [their maintenance ends](https://github.com/nodejs/LTS).

For the Runtime side, we support [Node under maintenance](https://github.com/nodejs/LTS) and "modern enough" browsers such

[2016-12-31 04:08] twada commented on #34
Close this issue since this feature is [documented](https://github.com/power-assert-js/babel-plugin-espower#optionsembedast), and power-assert also [suggests configuration option on parse error](https://github.com/twada/power-assert-runtime/pull/15).

[2016-12-31 04:08] #34 closed

[2016-12-31 04:15] twada commented on #59
@falsandtru Sorry for the too late response, I've implemented SequenceExpression (i.e., comma operator) support this summer(!) so I close this issue now. Please feel free to reopen this issue if you have any problems.

[2016-12-31 04:15] #59 closed

[2017-01-04 09:26] #72 closed

[2017-01-18 01:21] atian25 opened #74 "any tool to migrate `should/expect` code to `power-assert`?"
power-assert is amazing

[2017-01-18 09:59] watilde commented on #74
Hello! No, we don't have it, but it would be not hard to do manually since power-assert has only method `assert`.

[2017-01-18 10:01] atian25 commented on #74
but `should` is complex, such as:
- `should.be.ok(someVar)`
- `someKey.should.not.exist()`
- `someKey.should.eql('aaa')`
- `should.throw(() => {})`

[2017-01-18 10:14] watilde commented on #74
Yeah, it's complicated and multifunctional indeed. Well, the behaviour of the `should/expect` could depend on the tools/its syntax design, and that's why I think the migration topic could be out of the scope of this project, IMO.

[2017-01-18 10:17] twada commented on #74
@atian25 @watilde Good feature request. It's good to have migration path to assert.

Just begun [chai-to-assert](https://github.com/twada/chai-to-assert), a jscodeshift codemod that transforms from chai to assert, still highly experimental ;)

[2017-01-20 04:12] falsandtru opened #75 "Tests are failed"
Probably because of breaking changes of dependencies.

https://travis-ci.org/falsandtru/power-assert/jobs/193616863
https://travis-ci.org/twada/power-assert-keeper/jobs/193616232

[2017-01-20 04:50] #75 closed

[2017-01-20 05:38] twada commented on #75
@falsandtru Fixed. Thanks!

[2017-01-26 14:55] ELLIOTTCABLE opened #76 "Runtime interrogation of assertions-enabled status"
So, for relatively simple assertions, it's possible to keep the entire assertion within the single `assert( … )` statement; but I have a few places in my code where monstrosities like the following arise:

[code]

Basically, sometimes, there's an expensive operation (i.e. not something I can safely leave laying around *outside* the `assert`, to end up in production code) that's necessary to choose

[2017-01-27 05:45] twada commented on #76
@ELLIOTTCABLE Thank you for your feature request.

For removing development-only blocks, I recommend you to use features like [Conditional compilation](https://github.com/mishoo/UglifyJS2#conditional-compilation) of UglifyJS, conjunction with:

- Babel: [babel-plugin-transform-inline-environment-variables](http://babeljs.io/docs/plugins/transform-inline-environment-variables/)
- Browserify: [envif

[2017-01-29 16:42] falsandtru opened #77 "Disallow assignments in assertions"
It should let me know as errors.

[code]

[2017-01-30 01:14] azu commented on #77
I think that it is not power-asssert(assert)'s task.
(This feature change assertion behavior and is not compatible Node.js `assert()` function.)

It will be checked by Linter like ESLint.

- [no-cond-assign - Rules - ESLint - Pluggable JavaScript linter](http://eslint.org/docs/rules/no-cond-assign "no-cond-assign - Rules - ESLint - Pluggable JavaScript linter") is similar rule.

You can create tha

[2017-01-30 06:43] falsandtru commented on #77
Of course it is a basic way. But I want to get errors only on assertions, and this detecting should work whether or not a lint is set.

[2017-01-30 06:49] falsandtru commented on #77
I think runtime errors are good error reporting style for power-assert.

[code]

[2017-01-30 08:04] twada commented on #77
I agree with @azu , since power-assert aims to be 100% compatible with native assert.
`AssignmentExpression` is a valid expression in ECMAScript, having return value for it.

It's an ESLint's job to report such a mistake.

It's also a good idea having ESLint rules for assertions. I'm interested in making them. Thanks!

[2017-01-30 08:37] falsandtru commented on #77
ok, I'll wait that rule plugin, thanks.

[2017-01-30 08:37] #77 closed

[2017-01-30 08:48] falsandtru commented on #77
As a request for that plugin, I want to use it with transpiled TypeScript code. TypeScript is not as good as JavaScript for linting because of the original AST (especially typescript@next).

[2017-02-17 08:38] popomore opened #78 "ReferenceError when assert object extended Map"
`test/a.js`

[code]

`index.js`

[code]

When I run `node index.js`, catch an error.

[code]

[2017-02-17 10:37] gxcsoccer opened #79 "ReferenceError when assert interval timer of an class instance"
`test/a.js`

[code]

`index.js`

[code]

When I run node `index.js`, catch an error.

[code]

[2017-02-19 12:13] twada commented on #78
@popomore Thank you for reporting and creating minimal reproduction case!
This is a bug in power-assert transpiler and [I'm fixing it now](https://github.com/power-assert-js/espower/pull/36). So please stay tuned.

[2017-02-19 12:13] twada commented on #78
@popomore Thank you for reporting and creating minimal reproduction case!
This is a bug in power-assert transpiler and [I'm fixing it now](https://github.com/power-assert-js/espower/pull/36). So please stay tuned.

[2017-02-19 12:14] twada commented on #79
@gxcsoccer Thank you for reporting and creating minimal reproduction case.
This is a same issue as #78 and [I'm fixing it now](https://github.com/power-assert-js/espower/pull/36). So please stay tuned.

[2017-02-19 12:59] twada commented on #78
Just released [v2.0.3](https://github.com/power-assert-js/espower/releases/tag/v2.0.3) as a bugfix release for this issue. Would you reinstall intelli-espower-loader and give a try again?

[2017-02-19 13:00] twada commented on #79
Just released [espower v2.0.3](https://github.com/power-assert-js/espower/releases/tag/v2.0.3) as a bugfix release for this issue. Would you reinstall intelli-espower-loader and give a try again?

[2017-02-19 13:35] popomore commented on #78
Yes, it has been fixed.

[2017-02-19 13:35] #78 closed

[2017-03-08 11:47] kaidiren opened #80 "test files which are not in the 'test' dir than seems won't work"
good one:

![image](https://cloud.githubusercontent.com/assets/2025174/23702724/74ce552a-0437-11e7-87b5-87edaf0bf653.png)

bad one:

![image](https://cloud.githubusercontent.com/assets/2025174/23702765/9e95b9f2-0437-11e7-955a-86667ea77203.png)

test with same file: power.js

[code]

I have one project that the test files are not in the test dir .

please help me. thanks!

[2017-03-08 11:50] kaidiren commented on #80
node version 4.4.0

intelli-espower-loader": "^1.0.1",

"mocha": "^3.2.0",

[2017-03-08 13:57] azu commented on #80
Maybe, You could require `power-assert` insteadof `assert` and resolve this issue.

[code]

should be

[code]

[2017-03-08 21:05] twada commented on #80
@kaidiren Thank you for your question. If you are using `intelli-espower-loader` and having tests in directory other than `test`, [you have to set test directory in your package.json explicitly](https://github.com/power-assert-js/intelli-espower-loader#1-optional-you-have-to-set-test-directory-to-your-packagejson).

[2017-03-09 02:52] kaidiren commented on #80
@twada  thanks!

[2017-03-13 11:56] roginvs opened #81 "Type checking with assert.equal"
I found with a surprise that `assert.equal` have both types as 'any' (even the strictEqual too):
[code]
Why not do this way:
[code]
? It is better to catch any errors on compile time, not in the runtime, is not it?

[2017-03-14 03:29] twada commented on #81
@roginvs Thanks for your suggestion.

However, I want power-assert to be completely compliant to [Node's standard assert API](https://nodejs.org/api/assert.html) and do not want users depend on power-assert original API or type definition.

So issues and improvements should be done in [Node.js type definition](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/09a2b06ef71c0a5375d1650c5f5f4e55

[2017-03-14 07:48] twada commented on #79
I close this issue since this is the same issue as #78 and it has been fixed. Please feel free to reopen this issue if you have any problems.

[2017-03-14 07:48] #79 closed

[2017-03-14 07:49] twada commented on #80
I close this issue since this issue seems to be fixed by my answer. Please feel free to reopen this issue if you have any problems.

[2017-03-14 07:49] #80 closed

[2017-03-14 08:38] roginvs commented on #81
Thanks, I asked there
https://github.com/DefinitelyTyped/DefinitelyTyped/issues/15162

[2017-03-14 08:38] #81 closed

[2017-03-15 00:58] atian25 commented on #74
hey, just let you know, found a way to handler this issue:

https://github.com/cpojer/js-codemod/blob/master/transforms/expect.js

[2017-03-24 06:31] atian25 commented on #74
https://github.com/node-modules/should2assert

[2017-03-29 08:19] twada commented on #74
@atian25 Wow great! Now we have migration paths from both should.js and chai!

[2017-03-30 03:42] Pleasurazy opened #82 "Seems not working, but I have no idea."
Hi, I just tried power-assert, it is looks great.

But I can't reproduce power-assert print, I have no idea why.

Could you give me some help?

[code]

My package.json

[code]

index.spec.js

[code]

![image](https://cloud.githubusercontent.com/assets/1500206/24486629/b4caf126-153d-11e7-97e7-1f16148a5838.png)

MacOS 10.12.4
node v6.9.1
yarn 0.20.3

[2017-03-30 03:54] twada commented on #82
Hi, thanks for your question @Pleasurazy .

If you are using `intelli-espower-loader` and having tests in directory other than `test`, [you have to set test directory in your package.json explicitly](https://github.com/power-assert-js/intelli-espower-loader#1-optional-you-have-to-set-test-directory-to-your-packagejson).

([Ditto in espower-typescript](https://github.com/power-assert-js/espower-typ

[2017-03-30 04:26] Pleasurazy commented on #82
Now it is working with espower-typescript now.

Thank you for your patience. Thanks.

[2017-03-30 04:26] #82 closed

[2017-03-30 04:34] twada commented on #82
No problem! I'm glad to hear `power-assert` working well ;)

[2017-03-31 08:14] atian25 opened #83 "`global.assert = require('assert')` problem"
[code]

then the unit test passed...

[2017-03-31 08:43] twada commented on #83
@atian25 Thank you for reporting!
Ah, false positives... I have to wrestle with this.

If you rely on global `assert` object, please use power-assert for the `global.assert` for a while.
([Your temporary fix is right](https://github.com/eggjs/egg-boilerplate-simple/pull/27))

Thanks.

[2017-04-12 13:15] rmdm opened #84 "Provide an option to overwrite destination empowered assertion library"
It seems like there is a great infrastructure around `power-assert`. More than this you provide a way for other assertion libraries to empowerment which is awesome! Nevertheless it seems like most of the instrumentors are `power-assert`-centric a bit (not a big surprise though =)). What I mean by that is implicit rewriting of `require('assert')` with hardcoded `require('power-assert')`. Would it b

[2017-04-19 16:32] twada commented on #84
@rmdm Thank you for your suggestion. Your suggestion makes sense.

You are pointing implicit rewriting of `require('assert')` with hardcoded `require('power-assert')`.
Yes. It's better to make destination library customizable.

However, it's a bit complicated. Let me explain.
power-assert system consists of two parts, the Transpiler side and the Runtime side, and the library `power-assert` acts as

[2017-04-20 21:19] rmdm commented on #84
@twada Thank you for your points. Indeed, consistent and solid API is important aspect, and I see now that introduction of such an option would make it more fragile. So, I would not insist on anything and leave the decision up to you.

[2017-05-20 20:05] TehShrike opened #85 "Unable to compose power-assert + espower in vanilla node 7 or 8"
I am trying to use `power-assert` to get pretty assert output in node, without using mocha or babel.

I'm trying to implement assertions by reading the documentation, but haven't been able to get it working so far.

Here is my attempt at a "vanilla node" (no mocha) seed: https://github.com/TehShrike/power-assert-espower-repro

entry point:

[code]

test/test.js:

[code]

Instead of a nice pretty e

[2017-05-21 00:21] twada commented on #85
@TehShrike Thank you for reporting and creating repro case!

I confirmed that vanilla assertions under Node v6 produces pretty output but Node v7 doesn't (but Node v7 + mocha produces pretty output as well).

I'll investigate this issue a bit deeper.

[2017-05-21 01:43] TehShrike commented on #85
Awesome, thank you so much.

[2017-06-01 11:12] TehShrike commented on #85
Looks like node 8 behaves the same as node 7.

[2017-06-01 11:32] twada commented on #85
@TehShrike Thank you for the information. I'm bit busy this week but still investigating...

[2017-06-01 12:56] azu commented on #85
I've figured out this.

[code]

**Node.js 6**

[code]

**Node.js 7**

[code]

**Node.js 8**:

(Error code is added: https://github.com/nodejs/node/pull/12651)

[code]

----

Actually, does `e.message = buildPowerAssertText(formatter, errorEvent.originalMessage, errorEvent.powerAssertContext);`.
But, Node.js 7~ does not show this `e.message` of throwing AssertionError.

I think that Node.js 7~ trea

[2017-06-01 14:18] azu commented on #85
This changes is introduced by https://github.com/nodejs/node/issues/11273

[2017-06-04 13:53] falsandtru opened #87 "Do you use package-lock.json?"
Any plans or thoughts?

[2017-06-05 08:45] twada commented on #87
@falsandtru Thank you for your question!

Short answer: Not now. Waiting for getting mature enough.

Generally, I think committing lock file is not a good idea for libraries (good for applications).

However there's an opinion that suggests committing lock files.
https://yarnpkg.com/blog/2016/11/24/lockfiles-for-all/

I agree with it if we can lock devDeps, but not deps.

[2017-06-05 11:51] falsandtru commented on #87
I see, thanks for the answer!

[2017-06-05 11:51] #87 closed

[2017-06-08 00:03] ELLIOTTCABLE opened #88 "Power-assert output fails to appear with mocha, babel-register"
I was hoping for an IRC channel or similar; creating an Issue for this seems unhelpful — but I can't figure out a configuration that makes this work for me.

Reproducing: clone ELLIOTTCABLE/minimist-shell@7b21dce, `npm test`:

[code]

I'm trying to achieve something like:

[code]

My babel / power-assert configuration looks like this ([see `package.json`](https://github.com/ELLIOTTCABLE/minimist-s

[2017-06-08 00:14] ELLIOTTCABLE commented on #88
Inevitably, turned out to my own fault.

Babel somehow wasn't consuming its configuration, because `mocha.opts` wasn't being read. Using `mocha`'s `--opts` flag fixed it. 🙄

[2017-06-08 00:14] #88 closed

[2017-06-08 00:17] ELLIOTTCABLE commented on #60
Resurrecting — any input on my suggestions, @twada? I wouldn't mind submitting a pull-request for one of my solutions (whichever you prefer), if this behaviour is welcome.

[2017-06-08 00:30] ELLIOTTCABLE opened #89 "Integration with Mocha's diffs via err.expected and err.actual"
So, [Mocha provides diffs](http://mochajs.org/#diffs) on test failures, by examining the thrown `AssertionError`'s `.expected` and `.actual` properties. Unfortunately, these are rather redundant, with `power-assert`'s output:

<img width="653" alt="screen shot 2017-06-07 at 7 20 37 pm" src="https://user-images.githubusercontent.com/200/26907230-a8862268-4bb7-11e7-80e9-88ba742fc1be.png">

It'd be i

[2017-06-08 01:31] twada commented on #89
@ELLIOTTCABLE Thank you for your feature request. Exactly. Now this feature is in my next milestone.

[2017-06-08 01:41] twada commented on #60
@ELLIOTTCABLE  Thank you for resurrecting this issue.
This is in my `someday` task. Sorry for my late response.
I think the solution might be look like babel's `typeof` helper. Could be a bit simpler.

[2017-06-09 15:11] TehShrike commented on #85
After updating the dependencies in my power-assert-espower-repro repository (and removing the duplicate log/throw), this is the output:

[code]

[2017-06-09 15:30] twada commented on #85
@TehShrike Yeah we did it! Thank you for reporting again.

[2017-06-09 17:02] #85 closed

[2017-06-10 06:14] twada commented on #74
Tools available:

- [twada/chai-to-assert: A jscodeshift codemod that transforms from chai to Node assert](https://github.com/twada/chai-to-assert)
- [node-modules/should2assert: A tool to help you migrating from should to assert](https://github.com/node-modules/should2assert)
- [twada/expect-js-to-assert: A jscodeshift codemod that transforms from expect.js to Node assert](https://github.com/twad

[2017-06-10 06:57] #74 closed

[2017-06-14 03:02] twada commented on #85
This issue is fixed by [power-assert 1.4.4](https://github.com/power-assert-js/power-assert/blob/master/CHANGELOG.md#144-2017-06-10)

[2017-06-30 02:03] atian25 commented on #83
hey, @twada any good news on this?

[2017-06-30 02:06] twada commented on #83
@atian25 Thanks for pinging me.
Planning. This issue will be fixed by power-assert 2.0.0 (since the fix causes breaking change).

[2017-06-30 02:40] atian25 commented on #83
@twada  great, any roadmap for 2.0 ?

[2017-07-10 04:00] LiJinyao opened #92 "can't find source file when use istanbul to report TypeScript coverage"
# Step to reproduce the bug
platform: windwos 7
 I have created an repo to reproduce this bug: [https://github.com/LiJinyao/bug-power-assert](https://github.com/LiJinyao/bug-power-assert)

## Bug
I want use Mocha, power-assert in my TypeScript project, when I use Chai, istanbul could generate Coverage HTML report, when I switch to power-assert, istanbul could only report coverage but cant generate

[2017-07-10 14:07] twada commented on #92
@LiJinyao Thank you for reporting, and creating repro case.

I've git-cloned your repo and saw coverage report causes an error as you reported.

Though I'm not a TypeScript user, I think it's noting to do with power-assert since product code is not transpiled with espower-typescript (it affects only to test dir).

The"file not found" error seems to be caused by paths in sourcemaps that are not abs

[2017-07-11 02:49] LiJinyao commented on #92
@twada  Thanks! I get coverage work by adding `"sourceRoot": "."`

[2017-07-11 02:49] #92 closed

[2017-08-03 16:22] jmquigley opened #93 "Using power-assert in jest prints the output twice"
![assert issue](https://lh5.googleusercontent.com/vgFlyO2I4tQGMoXMr8FCTXDlN_Wl3taTArSRchtEZhCgvOFf-W6IoLiQUfYrYuG-6vthLZoZVumty2M=w2880-h1606-rw)

This is the test case demonstrating the issue above (contrived test to show duplicate output):
[code]

jest: 20.0.4
babel: 6.24.1
babel-preset-power-assert: 1.0.0
power-assert: 1.4.4

[2017-08-04 02:31] twada commented on #93
@jmquigley Thank you for reporting.
Seems that your link to image is broken.
Would you fix the link, or create small repository for reproduction?

[2017-08-04 17:25] jmquigley commented on #93
I updated the image link and provided a direct link to the image on my google drive.

[2017-08-05 07:31] twada commented on #93
@jmquigley Thank you for updating image.
Would you create small reproduction repo?
I want to reproduce the case to investigate sooner.

[2017-08-05 21:54] jmquigley commented on #93
https://github.com/jmquigley/power-assert-jest-test

[2017-08-10 08:42] twada commented on #93
@jmquigley Thank you for creating repro case repository!

While I'm investigating the issue, I found that stack recreation introduced in #85 is the cause of showing same diagram twice. Reporter output from Node6 and Node8 differs.

In #85, I added power-assert diagram to `err.stack` too. Therefore `AssertionError` thrown by power-assert have same diagram in `err.message` and `err.stack`, since mos

[2017-08-10 14:03] twada commented on #93
@jmquigley As digging deeper, I've found some hints.

- Jest does not use `AssertionError#message` but extract messages from `Error#stack`.
- Something is wrong with message/stack extraction logic in Jest that cannot extract complicated stack from Node8 since Node8 has slightly changed Error message and stack format. Custom reporter doesn't work well since Jest doesn't handle stack properly. I'm g

[2017-08-20 14:22] falsandtru opened #94 "Show concrete info with throws and similar assertions"
I want to get details at least the passed expression like `() => shouldThrow()` because I don't know which assertion has failed from assertion messages.

[code]

[2017-08-21 01:38] twada commented on #94
Thank you for the feature request.

`at least the passed expression` for exception test makes sense to me. It's a bit difficult with current power-assert configuration so I will try to ship with power-assert 2.0.

[2017-08-21 01:46] falsandtru commented on #94
I see, I'll check that version.

[2017-09-07 08:16] OoDeLally opened #95 "Display all frames of the stack"
Currently, only the first frame is shown:
[code]

Is it possible to get all the frames that led to that assertion? That would be really helpful.

e.g.
[code]

Thank you

[2017-09-07 08:31] twada commented on #95
@OoDeLally Thank you for your question.
Would you give me a bit more information?

- OS
- Node version
- Testing framework (Mocha, ...) or vanilla Node

Since stack traces are automatically suppressed under some environments
Thanks.

[2017-09-10 20:23] Aladdin-ADD opened #96 "who are using power-assert?"

[2017-09-11 00:26] twada commented on #96
@Aladdin-ADD Thanks! Yeah It's good to have 👍

[2017-10-19 13:27] yamsellem opened #99 "Levenstein distance in descriptive assertion message"
When two strings of characters are very different, the output displayed by power assert is confusing.

May be using a Levenstein distance (or other) to display the first string entirely in red and the second entirely in green if they differ too much from each other?

![capture d ecran 2017-10-19 a 15 22 50](https://user-images.githubusercontent.com/606754/31772942-6b8321c0-b4e1-11e7-835e-e6b0ba460

[2017-10-20 06:37] twada commented on #99
@yamsellem Thanks. However, power-assert does not provide colored diffs so it must be a reporter output of testing framework you are using (Mocha, Jest, AVA, ...). So it's better to report the same issue there.

BTW using Levenstein distance to calculate string similarities is good idea and I'm interested in it.

[2017-10-31 03:32] atian25 opened #100 "power-assert + vscode issue"
hi, just let you know, we got a problem of `setBreakPoint` at `vscode` with `power-assert`.

https://github.com/Microsoft/vscode/issues/37199

any  further information ?

[2017-10-31 06:23] twada commented on #100
@atian25 Thank you for reporting!
Slow internet connection prevents me from updating VSC so I'll investigate your repro repo tomorrow.

[2017-11-23 15:24] caesarsol commented on #30
Hi, is anything changed regarding to this? :)

[2017-11-24 11:22] OoDeLally opened #101 "assert return value"
Would it be possible to powerAssert the return value?
something like

[code]

[2017-11-25 12:48] twada commented on #101
@OoDeLally Thank you for your question!

Short answer: not possible now.

Ensuring postconditions in terms of assertion programming is nice and what I'm interested in.

However, it's not a target of power-assert project. It causes scope creep.

When an idea has come I'll create another tool to enforce postconditions then use it in combination with power-assert. I'm very very interested in creating

[2017-11-27 16:16] OoDeLally commented on #101
It seems sensible to me to add it to powerassert, as it will share most of its code with powerassert.
Since powerassert is already transpiled, how hard would it be to add an assertion check before every return within covered functions?
Thanks!

[2018-03-23 21:03] falsandtru opened #103 "Support strict mode"
I like this: https://nodejs.org/api/assert.html#assert_strict_mode

[2018-03-27 13:32] twada commented on #103
@falsandtru Yes it's worth following. Thanks!

[2018-03-31 05:35] falsandtru commented on #103
Thanks!

[2018-03-31 05:35] #103 closed

[2018-04-27 10:31] falsandtru opened #106 "Can't parse es2018 (for await)"
I want to use for-await syntax. Can you support es2018?

[2018-04-27 22:04] falsandtru opened #107 "Support reject and doesNotReject method"
Added since Node 10.

https://nodejs.org/api/assert.html

[2018-05-07 07:59] twada commented on #107
@falsandtru Sorry for my late response. I'm now working on this feature.

[2018-05-07 08:00] twada commented on #106
@falsandtru Sorry for my late response. I'll tackle with this issue after #107. Thanks!

[2018-05-07 08:32] falsandtru commented on #106
Thanks. Can you also update unassert? I can't use es2017+ in my projects because that can't parse it.

https://github.com/unassert-js/unassert/issues/12

[2018-05-07 13:39] leedm777 opened #108 "Add support for spread syntax"
This is supported natively in Node.js v8 and v10.

h3. Steps to reproduce

See [GitHub repo](https://github.com/leedm777/power-spread) with demo

[code]

h3. Expected results

`mocha --require intelli-espower-loader` should parse and execute the tests.

h3. Actual results

Fails to parse the spread operator.

[2018-06-13 15:33] #106 closed

[2018-06-13 15:35] twada commented on #106
Will be fixed in forthcoming next minor release.

[2018-06-13 15:36] twada commented on #108
Sorry for my late response. Will be fixed in forthcoming next minor release.

[2018-06-13 15:36] #108 closed

[2018-06-13 16:59] chadxz commented on #108
I believe that will be 1.6.0

[2018-06-13 17:02] twada commented on #108
Yep. Will be released soon as 1.6.0.

[2018-06-13 17:45] twada commented on #108
[Just released as power-assert 1.6.0](https://github.com/power-assert-js/power-assert/blob/master/CHANGELOG.md#160-2018-06-14), thank you for reporting @leedm777 !

[2018-06-13 17:46] twada commented on #106
[Just released as power-assert 1.6.0](https://github.com/power-assert-js/power-assert/blob/master/CHANGELOG.md#160-2018-06-14), thank you for reporting @falsandtru !

[2018-06-14 19:36] MaximusHaximus commented on #107
Any ETA? :)

[2018-06-22 00:24] falsandtru opened #110 "Missing * with async generator methods"
[code]

[code]

[2018-06-24 05:05] falsandtru commented on #110
@twada

[2018-06-27 07:32] falsandtru commented on #110
ping @twada

[2018-07-05 11:53] falsandtru commented on #110
@twada ?

[2018-07-10 03:45] twada commented on #110
It's nothing to do with power-assert but It's a escodegen's problem. I'm working on it.

[2018-07-11 09:11] twada commented on #110
FYI: Just made a pull-req to escodegen
https://github.com/estools/escodegen/pull/375

[2018-07-11 09:50] falsandtru commented on #110
Thanks.

[2018-07-20 14:08] falsandtru commented on #110
@twada Looks like that fix isn't reflected because the dependencies and package-lock.json aren't updated. Can you update them and bump the version?

[2018-07-20 15:39] twada commented on #110
@falsandtru

1. I'm using optimistic semver range (a.k.a `^`)
2. package-lock.json only affects top-level install

So something is strange. I'm okay to bump and release but it's not a best solution here. We should rely on semver range.
Would you try cleaning `node_modules` and `package-lock.json` and install again?

[2018-07-20 15:56] falsandtru commented on #110
Resolved. I'd tried to remove and install power-assert but it wasn't enough. Thanks.

[2018-07-20 15:56] #110 closed

[2018-07-20 16:00] twada commented on #110
@falsandtru Glad to hear it 👍

[2018-07-20 17:30] chadxz opened #111 "assert.throws does not accept object"
as of Node.js v9+, the built-in [assert.throws()](https://nodejs.org/api/assert.html#assert_assert_throws_block_error_message) accepts an object as the "error" parameter. When passed an object, it checks the properties of the error against the properties on the passed object.

Looks like power-assert does not currently support this. Would be great if it could be added!

[2018-07-21 01:57] chadxz commented on #111
is this something you'd accept a PR to add?

[2018-07-22 13:48] falsandtru opened #112 "Spread parameters aren't expanded"
In the following case, `o` spread parameter should be expanded in the assertion message.

[code]

https://github.com/power-assert-js/power-assert/blob/master/test/tobe_instrumented/assertion.es20xx.js#L78

Oddly, it is realized only with karma-espower-preprocessor.

https://travis-ci.org/twada/power-assert-keeper/jobs/406328262#L988

[2018-08-04 16:03] falsandtru commented on #112
ping @twada

[2018-08-19 04:54] jazen opened #113 "No pretty output using node v10.5.0"
It's fine using `node v8.1.4`:

[code]

But after switching to `node v10.5.0`:

[code]

[2018-09-17 07:17] jazen commented on #113
Still not working with `power-assert 1.6.1` and `jest 23.5.0`.

[2018-09-20 08:50] kossnocorp commented on #113
Same here

[2018-09-24 09:45] jazen commented on #113
@twada I can't reproduce it anymore...

For others searching for this, here's how my monorepo setup looks like now:

[code]

I moved all dev deps into `<root>/package.json` and switched to exact versioning to avoid any mismatches with packages required as production deps in `packages/*/package.json`:

[code]

...and finally setting them up via `npm i && lerna bootstrap --hoist` (run in `<root>`)

[2018-10-12 15:55] jl- opened #114 "No powerAssertContext on error object. Chrome"
Hi there, I'm building a tool runing in **browser** using power-assert, with the following config setup.
power-assert is bundled into my code properly, seems kind of working. But I failed to get the descriptive error message, all I get is the original plain text.

After some simple debugging, it seems that poweredMessage couldn't be built because power-assert abort early on the missing of powerAss

[2018-10-13 02:00] jl- commented on #114
I think my code was not properly transformed by instrumentor.
Simple put, Here is how I actually pass assert as param.
[code]
[code]
After explicitly import assert in test file, **it works**.
[code]
Just to be clear, Is this the way how instrumentor works? on isolated file level?  In my previous use case, as `test` was import from another file, and there is not `assert` explicitly imported, so the

[2018-10-13 02:07] jl- commented on #114
After changing into this, it also works. Notice the rename of `t` to `assert`. Supposing the instrumentor works by variable name matching?
[code]

[2018-10-13 05:36] jl- commented on #114
[code]

[2018-10-15 23:59] jimmywarting opened #115 "Use native Object.assign instead of xtend"
[xtend](https://github.com/Raynos/xtend) can easily be replaced with [Object.assign](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign)

This reduce the dependencies and possible also avoid duplicated versions where some package don't use the same version range for the xtend package

[code]

[2018-10-24 19:42] MaximusHaximus commented on #107
Is this still being worked on?

[2018-10-27 06:57] twada commented on #107
@MaximusHaximus Yes I'm working on it. Will be power-assert v2. I'm planning to release it on Nov 23, 2018 at Nodefest Tokyo. So please stay tuned.

[2018-10-27 06:58] twada commented on #115
@jimmywarting Thanks! I'll replace it in power-assert v2, dropping support for super-old environments.

[2018-10-27 07:00] twada commented on #111
Thanks! I'll support `assert.throws` more in power-assert v2.

[2018-12-27 03:06] whlsxl opened #116 "Add two new functions"
From node v10.0.0, `node assert` add two new function,  [assert.doesNotReject](https://nodejs.org/api/assert.html#assert_assert_doesnotreject_asyncfn_error_message) and [assert.rejects](https://nodejs.org/api/assert.html#assert_assert_rejects_asyncfn_error_message)
Can we add this two function in `power-assert` ?

[2018-12-27 03:15] azu commented on #116
Duplicate of #107
We will support these in [power-assert v2](https://github.com/power-assert-js/power-assert/labels/power-assert-v2).

[2018-12-27 03:15] #116 closed

[2019-01-14 02:32] whxaxes commented on #100
@twada  Any progress ?

[2019-03-05 09:36] chuyik commented on #107
Sorry to ping @twada but is there any plan to release v2 anytime soon?

[2019-04-23 02:49] atian25 commented on #100
closed by https://github.com/Microsoft/vscode/issues/37199#issuecomment-479046473

[2019-04-23 02:49] #100 closed

[2019-04-23 04:16] #83 closed

[2019-05-07 04:50] dandv opened #118 "toMatchObject equivalent from Jest"
I'm trying to move from Jest to Ava, and miss the [`toMatchObject`](https://jestjs.io/docs/en/expect#tomatchobjectobject) assertion. Is there a concise way of expressing that with `power-assert`? (That is, other than asserting `object.<each key in the expected object>`).

[2019-06-28 08:40] Rlilyyy opened #119 "mocha & power-assert cannot output the descriptive assertion messages"
I am trying to use official demo with `power-assert`. After Mocha run the unit test, it output `func.apply(thisObj, args)` insted of the descriptive assertion messages.

spec.js
[code]

ouput
[code]

Mocha v6.1.4
power-assert v1.6.1
Node v10.15.2

[2019-07-12 12:10] #31 closed

[2020-01-07 11:38] pinghe opened #122 "support deno?"
https://github.com/denoland/deno

[2020-03-05 14:11] falsandtru opened #123 "Inconsistency with Node.js"
Looks like now assertion APIs of Node.js such as `assert.strictEqual` and `assert.deepStrictEqual` can compare NaN but power-assert is not.

[code]

[2020-03-05 21:14] miohtama opened #124 "BigNumber support"
What would be tests needed to support [BigNumber](https://github.com/MikeMcl/bignumber.js/) comparison in power-assert? BigNumber is userful in cryptography, finance and blockchain.

Currently comparing BigNumbers works if you stringify them first

[code]

But this comparison of BigNumber objects fails

[code]

Output:
[code]

[2020-03-09 10:44] bannerchi commented on #119
same problem for me

[2020-03-10 07:47] tjx666 opened #125 "upgrade acorn of vulnerability: Regular Expression Denial of Service"
cause ci [build](https://travis-ci.org/tjx666/fe-algorithm) failed:

![screenshot_2020-03-10_15-44-18](https://user-images.githubusercontent.com/41773861/76290334-0559e900-62e6-11ea-9551-bb3008211223.png)

[2020-03-20 06:37] nitaking commented on #119
you tried [setup](https://github.com/power-assert-js/power-assert#setup)?

[2020-10-24 20:39] kim366 opened #130 "`Cannot assign to read only property 'ok' of object '[object Object]'` while running in browser"
Hello. I am trying to run power-assert in the browser using webpack and babel. The code transformation works great, but there is an error pointing to the return statement of the following line:

https://github.com/power-assert-js/power-assert/blob/master/build/power-assert.js#L13557

Here comes the stack trace:

[code]

[2020-10-25 16:22] twada commented on #130
@kim366 Thank you for reporting!
I'll take a look.
Would you make a small repository or gist for reproduction of this case?

[2020-10-25 21:25] kim366 commented on #130
Yes, of course. Here it is: https://github.com/kim366/repro-power-assert

1. git clone `https://github.com/kim366/repro-power-assert.git`
1. `npm install && npm start`
1. Open http://localhost:8080/test/TestRunner.html
1. Open Devtools

Hope this helps.

[2020-10-28 00:37] twada commented on #130
Thank you for your repro case.

I've found that Rollup, where used internally by Snowpack, freezes `assert` module by default.

[code]

Also found that Rollup has a [`freeze` option](https://rollupjs.org/guide/en/#outputfreeze) for opting-out of `Object.freeze` usage.
refs: https://github.com/rollup/rollup/pull/1696

So if you can pass `freeze` option to Rollup via Snowpack, power-assert might wor

[2020-10-28 07:29] #130 closed

[2020-12-29 19:25] falsandtru opened #131 "Can't parse es2019 (optional catch binding)"
Can you support?

[code]

[2021-01-08 14:01] falsandtru opened #132 "Cut off large info"
IDE hangs because of too long output if debug info has large info such as a string of length over 1,000,000.

[2021-08-21 06:38] petamoriken commented on #123
The problem seems to be caused by browserify's dependency on the old assert@v1.

[2021-08-21 07:08] petamoriken commented on #123
created an issue: https://github.com/browserify/browserify/issues/2015

[2021-10-06 05:23] falsandtru opened #140 "Type definition policy"
@twada I'm having trouble with the breaks of tests caused by types. Do you want to make the next test a type error?

[code]

The `asserts` type predicate makes a type error on the test. Do you expect the type definition to use `asserts` and break the existing valid tests?

[2021-10-06 12:39] ChristianMurphy commented on #140
Some additional context, @falsandtru's question is specifically in regards to https://github.com/DefinitelyTyped/DefinitelyTyped/pull/56062, which synced `power-assert`'s types with Node `assert`'s, and brought in Node `assert`'s ability to narrow types, for example:

[code]

https://codesandbox.io/s/happy-booth-v5cv4?file=/src/index.ts

In the specific example of `Set` node's `assert` does raise

[2021-10-06 15:25] falsandtru commented on #140
Since the asserts can't be used for testing mutations, it's clear that the asserts isn't ready to use for testing. If you want to use the premature asserts, it should be optional. In fact, TypeScript isn't officially providing the assertion function using asserts. It means the asserts predicate is inappropriate for common assert functions.

https://github.com/microsoft/TypeScript/blob/v4.4.3/src/l

[2021-10-06 15:32] ChristianMurphy commented on #140
This is a misleading comment, I gave you an example of how `assert`/`power-assert` can continue to check mutations in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/56227#issuecomment-936140856

I respectfully disagree, it is a feature which has been stable for some time and is ready for testing and use.
I'd be happy to see TypeScript support dependent types such that `set.add()` automati

[2021-10-06 15:40] falsandtru commented on #140
This is a misleading comment. You just used a different function which is not using `asserts` predicate.

[2021-10-06 15:51] ChristianMurphy commented on #140
It merely points out that you are fixated on one function signature.
And that there are more appropriate methods which could and potentially should be used.

Since you want to focus on `assert()` and `asserts` specifically, here is an example showing that you can still use the same JS syntax you use today (with an additional TS annotation to widen the type before asserting the second time).
[code]

[2021-10-06 16:09] falsandtru commented on #140
The point is "Is the early adoption of the immature `asserts` predicate worth breaking the existing tests and forcing your ugly test patterns?".

[2021-10-06 16:20] falsandtru commented on #140
If the mature `asserts` predicate will be adopted later, developers don't have to change a lot of existing tests. You should wait to adopt until the `asserts` predicate matures.

[2021-10-06 16:20] ChristianMurphy commented on #140
Answering this on several fronts:
1. It is not early adoption, TS has had this feature for years, Node's `assert` has used it for some time as well.
2. It does not break existing tests, the JS continues to run as expected, only the TS annotations need to be clarified
3. TypeScript is a _static_ typed language, doing _dynamic_ mutations goes against the grain of the language, so yes, it may seem ug

[2021-10-06 16:55] ChristianMurphy commented on #140
It is mature and stable.

It also isn't changing anytime soon.
Scanning both [TypeScript's](https://github.com/microsoft/TypeScript/issues?q=is%3Aissue+asserts+is++is%3Aopen) and [DefinitelyTyped's](https://github.com/DefinitelyTyped/DefinitelyTyped/discussions?discussions_q=%40types%2Fnode+assert) issue trackers show no plans for TS to change the syntax behavior or for `@types/node` to remove `as

[2021-10-06 17:24] falsandtru commented on #140
Of course @twada's clients who use @types/power-assert will also have to change the tests.

[2021-10-06 17:44] ChristianMurphy commented on #140
That would be true, if any use that specific type of mutation test, it would require the additional widening type annotation.
Scanning publicly available information on dependents, this doesn't appear to be the case, the dependents of `@types/power-assert` list on NPM don't leverage power assert for mutation testing https://www.npmjs.com/browse/depended/@types/power-assert

It's also true that rev

[2021-10-10 22:04] twada commented on #140
My opinion is simple. Since power-assert is intended to be 100% compatible with Node Assert API and you don't need to require('power-assert') directly anymore, you better not to use power-assert type definition. Please use Node Assert API Type definition instead.

FYI: From Library to Tool - power-assert as a General Purpose Assertion Enhancement Tool
https://speakerdeck.com/twada/from-library-to-

[2021-10-11 00:29] falsandtru commented on #140
@twada It's impossible to apply the node type definitions to the power-assert library.

[2021-10-11 00:36] ChristianMurphy commented on #140
Thanks for clarification @twada :bow:

It is possible, they can be copied and pasted, as they already have.
That said, please read the slide deck @twada linked https://speakerdeck.com/twada/from-library-to-tool-power-assert-as-a-general-purpose-assertion-enhancement-tool
The whole presentation, and particularly slides 13 and 14, explain that `power-assert` should no longer directly be imported, th

[2021-10-11 00:47] falsandtru commented on #140
Are you serious? power-assert can't be typed from the node types by such way. Try it if possible.

[2021-10-11 00:52] ChristianMurphy commented on #140
I'm absolutely serious, install `@types/node`, then `import assert from 'assert'`.
`power-assert` works to wrap `assert` as @twada describes, and the node typings work perfectly fine.

[2021-10-11 00:59] falsandtru commented on #140
@types/node doesn't work for power-assert. And if you don't use power-assert, you don't need @types/power-assert.

[2021-10-11 01:23] ChristianMurphy commented on #140
Yes, that is the point being made :slightly_smiling_face:
When `power-assert` is used only to wrap `assert`, you can use `@types/node` directly.

`@types/power-assert` can probably be deprecated, if there are strong objections to it being deprecated it should be (manually or automatically) kept in sync with `@types/node`
So that it is 100% compatible with Node Assert.

[2021-10-11 01:25] falsandtru commented on #140
So you don't need to maintain @types/power-assert. Micromark also stopped using @types/power-assert and power-assert. You troll.

[2021-10-13 04:41] falsandtru commented on #140
@twada Can you answer a technically feasible solution to resolve the broken tests?

[2021-10-13 16:44] twada commented on #140
@falsandtru @ChristianMurphy

I played around the new typings and found that type narrowing of `assert` function (`asserts value`) introduces some false positives for testing purpose. It's valid and convenient in context of general purpose assertion in production code, but not for test code. Node Assert API is intended to be used as general purpose assertion function so its typing is fine, but a b

[2021-10-17 08:00] make-github-pseudonymous-again commented on #96
AVA is noteworthy: https://github.com/avajs/ava/blob/main/docs/03-assertions.md#enhanced-assertion-messages

**PS**: Mmh AVA is already mentioned in the README.

[2021-12-24 09:40] make-github-pseudonymous-again opened #141 "Named imports from assert"
I would like to use `import {AssertionError} from 'assert';` but cannot because `power-assert` does not echo named exports. All I can do is either abuse `import {AssertionError} from 'node:assert;` since this bypasses the `power-assert` babel plugin, or `import assert from 'assert'; const {AssertionError} = assert;`.

[2022-04-20 08:34] tomoat opened #150 "core-js@<3.4 has been deprecated"
This version has been deprecated
Author message:

core-js@<3.4 is no longer maintained and not recommended for usage due to the number of issues. Because of the V8 engine whims, feature detection in old core-js versions could cause a slowdown up to 100x even if nothing is polyfilled. Please, upgrade your dependencies to the actual version of core-js.

[2022-04-26 09:38] RebeccaStevens commented on #140
Just thought I should mention that if the expected value is typed as a number, you don't get the type error.

[code]

[2022-04-26 09:43] #140 closed, assigned to nobody

[2022-09-05 16:28] jgonggrijp opened #153 "assert.ok needs to be the default export"
Thanks for making power-assert possible!

I'm working on a project that uses power-assert together with karma, mocha, rollup and coffeescript. To make it all work together, I needed to make rollup the only preprocessor to karma, use the coffeescript plugin for rollup, and add power-assert support through the babel preset, which in turn I enabled through the babel plugin for rollup. Since everythin